/* =========================
   OBSIDIAN BORDER
========================= */

body::after {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    right: 0;
    bottom: 0;

    pointer-events: none;

    z-index: 999;

    /*
        DESKTOP BORDER SIZE
    */
    border: 21px solid transparent;

    border-image:
    url('../images/obsidian-border.png') 127 round;

    opacity: 0.95;

}
@media (max-width: 768px) {
    body::after {

            border: 16px solid transparent;

            border-image:
            url('../images/obsidian-border.png') 127 round;

    }
 }